body{
  background-color: #282c34;
  font-size: .9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: left;
  background-color: #222;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;

}
.header{
  font-size: large;
  text-align: center;
}
.contentcss{
  width: 70%;
  height: 100vh;
}
.middle{
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 1rem;
}
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #303030;
}
.sss{
  width: 85%;
  padding: 4rem 2rem
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.selectcss{
  width: 4rem;
  height: 2rem;
  font-size: larger;
}

